%h1
  Welcome
%p
  While I build the content of this website, please enjoy this picture.

%img{src:'http://placekitten.com/400/400'}


%p
  .twitter
    Want to contact me?
    .handle
      = link_to '@davidahopp', 'https://twitter.com/davidahopp', target: '_blank'
