
%h1.contact-title
  my contact info

.row
  .large-4.columns
    %ul.pricing-table{data: {'equalizer-watch' => ''}}
      %li.title twitter
      %li.price= link_to '@davidahopp', 'https://twitter.com/davidahopp', target: '_blank'
  .large-4.columns
    %ul.pricing-table{data: {'equalizer-watch' => ''}}
      %li.title github
      %li.price= link_to 'davidahopp', 'https://github.com/davidahopp', target: '_blank'
  .large-4.columns
    %ul.pricing-table{data: {'equalizer-watch' => ''}}
      %li.title linkedIn
      %li.price= link_to 'david hopp', 'https://www.linkedin.com/profile/view?id=170141029', target: '_blank'
